
/* Dark Theme */
body.dark-theme {
    background-color: #2c3e50;
    color: #ecf0f1;
}

body.dark-theme header {
    background-color: #34495e;
}

body.dark-theme footer {
    background-color: #2c3e50;
}

body.dark-theme .container {
    background-color: #34495e;
    border: 1px solid #2c3e50;
}

body.dark-theme .col-15,
body.dark-theme .col-20,
body.dark-theme .col-25,
body.dark-theme .col-33,
body.dark-theme .col-35,
body.dark-theme .col-40 {
    background-color: #34495e;
    border: 1px solid #2c3e50;
}

body.dark-theme .matrix8 {
    background-color: #2c3e50;
}

body.dark-theme .matrix8 td {
    border-top: 1px solid #34495e;
    border-left: 1px solid #34495e;
}

body.dark-theme .matrix8 td:last-child {
    border-right: 1px solid #34495e;
}

body.dark-theme .matrix8 tr:last-child td {
    border-bottom: 1px solid #34495e;
}

body.dark-theme #result_code {
    background-color: #2c3e50;
}
