/* Begin - target PC */
html, body {
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #696969;
    background-color: #dbe2df;
}
header {
    background-color: #00ced1;
}
footer {
    background-color: #bc8f8f;
}
.container {
    width: 80%;
    /* max-width: 1024px; */
    min-height: 50px;
    margin: 0 auto;
    border: 1px solid #797979;
    padding: 0;
    background-color: #ffdf7f;
}
/* Очистка потока */
.container:after, .row:after, .second_row:after {
    content: "";
    display: table;
    clear: both;
}
a.logo {
    float: left;
}
.main_menu_nav {
    float: left;
}
.main_menu_nav a {
    text-decoration: none;
    line-height: 80%;
    font-size: 110%;
}
.main_menu_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main_menu_nav li {
    display: inline-block;
    margin-right: 7px;
}

.second_menu_nav {
    float: left;
}
.second_menu_nav a {
    text-decoration: none;
    line-height: 80%;
    font-size: 90%;
}
.second_menu_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.second_menu_nav li {
    display: inline-block;
    margin-right: 7px;
}

.hr_menu {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.row {
    margin: 0;
}
.row div {
    min-height: 50px;
}

.col-15 {
    width: 15%;
    float: left;
    background-color: #87cefa;
    border: 1px solid #f0ffff;
}
.col-20 {
    width: 20%;
    float: left;
    background-color: #87cefa;
    border: 1px solid #f0ffff;
}
.col-25 {
    width: 24%;
    float: left;
    background-color: #bc8f8f;
    border: 1px solid #f0ffff;
}
.col-33 {
    width: 32%;
    float: left;
    background-color: #bc8f8f;
    border: 1px solid #f0ffff;
}
.col-35 {
    width: 34%;
    float: left;
    background-color: #87cefa;
    border: 1px solid #f0ffff;
}
.col-40 {
    width: 39%;
    float: left;
    background-color: #87cefa;
    border: 1px solid #f0ffff;
}
.second_row div {

}
#left_menu {
    width: 130px;
    border: 0;
    margin: auto;
    padding: 0;
}
.left-menu {
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 0 5px 0;
}

.matrix8 {
    border-spacing: 0;
    background-color: #ffffff;
    margin: 7px auto;

}
.matrix8 td {
    width: 22px;
    height: 22px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
.matrix8 td:last-child {
    border-right: 1px solid gray;
}
.matrix8 tr:last-child td {
    border-bottom: 1px solid gray;
}

.name_of_block {
    margin: 1px 0 5px 7px;
    padding: 0;
    font-size: 80%;
}

#result_code {
    background-color: #ffffff;
    width: 80%;
    height: 100px;
    margin: 7px auto;
}
/* End - target PC */