<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" />
    <!-- <link rel="shortcut icon" href="pic/favicon.ico" /> -->
    <title>Font Creator v.1</title>
</head>
<body>
    <!-- header +++ -->
    <header>
        <div class="container">
            <!-- <div class="main_menu"> -->
                <a href="{FILE_ID}" class="logo">{LABEL="page_head_general"}</a>
                <nav>
                    <ul>
                        <li>{LABEL="menu_point"}</li>
                    </ul>
                </nav>
           <!-- </div> -->
            <!-- <div class="second_menu">

            </div> -->
        </div>
    </header>
    <!-- header --- -->

    <!-- main +++ -->
    <div class="main">
        <!-- main container +++ -->
        <div class="container"></div>
        <!-- main container --- -->
    </div>
    <!-- main --- -->

    <!-- footer +++ -->
    <footer>
        <div class="container"></div>
    </footer>
    <!-- footer --- -->
</body>
</html>